*.pyc
venv
.vs
.idea
#/images/*
#!/images/SLIKA1.png
#!/images/SLIKA138.png
#!/images/SLIKA963.png
/resources/images/raw_data/*
!/resources/images/raw_data/input1/
!/resources/images/raw_data/input138/
!/resources/images/raw_data/input963/