*.pyc
venv
.vs
.idea
/resources/images/*
!/resources/images/SLIKA1.png
!/resources/images/SLIKA138.png
!/resources/images/SLIKA963.png
/resources/images/raw_data/*
!/resources/images/raw_data/input1/
!/resources/images/raw_data/input138/
!/resources/images/raw_data/input963/